.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  
}
.slide-image img{
  width: 280px;
  height: 280px;
  
}
.slide-content {
  width: 280px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.slide-content > h4 {
  margin: 0;
}
#slideContent a {
  text-decoration: none;
  color: #17a2b8;
}
#slideContent a:hover {
  text-decoration: underline;
}

.slide-navs {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #17a2b8;
}

@media screen and (min-width: 576px) {
  .slide {
    display: flex;
    flex-direction: row;
  }
  .slide-image {
    margin-right: 1em;
  }

  .slide-content {
    width: 300px;
    height: 300px;
  }  
  
}
@media screen and (min-width: 576px) {
  .slide-image img{
  width: 300px;
  height: 300px;
  }
  .slide-content {
    width: 300px;
    height: 300px;
  }
}

@media screen and (min-width: 767px) {
  .slide-image img{
  width: 320px;
  height: 320px;
  }
  .slide-content {
    width: 320px;
    height: 320px;
  }
}
/*Large devices (desktops, 992px and up)*/
@media screen and (min-width: 992px) {
  .slide-image img{
  width: 400px;
  height: 400px;
  }
  .slide-content {
    width: 400px;
    height: 400px;
  }
}